@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.App{
  color:#0F172A;
  max-width: 100%;
  overflow-y:hidden;
  background-color:#F8F8F8;
  font-family: "Manrope", sans-serif;
}

.header{
  width: auto;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

.inner-header-left{
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
}

.inner-header-right{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.addIcon{
  padding: 0.5rem;
  cursor: pointer;
}

.numHolder{
  /* padding: 0.25rem; */
  width: 2rem;
  height: 2rem; 
  display: flex;
  color: #27A376;
  font-weight: 700;
  border-radius: 0.5rem;
  justify-content: center;
  border: 3px solid #27A376;
}

.userInfo{
  display: flex;
  text-align: left;
  flex-direction: column;
}

.userInfo h4{
  margin: 0;
  font-size: 1rem;
}

.userInfo h5{
  margin: 0;
  font-weight: 400;
  font-size: 0.75rem;
}

.numHolder p{
  padding: 0;
  margin: auto 0;
}

.header h1{
  font-size: 1.2rem;
  padding: 0 1rem 0 0;
}

.listWidget {
  width: auto;
  padding: 2rem;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
}

.listWidget .card{
  width: auto;
  display:flex;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  flex-direction: column;
}

.listWidget .card .cardTop{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.listWidget .card .cardTop .cardTopLeft{
  display: flex;
  align-items: center;
  justify-content: start;
}

.listWidget .card .cardBottom{
  display: flex;
  color:#A0AEC0;
  padding: 1rem 0rem;
  align-items: center;
  justify-content: space-between;
}

.listWidget .card .cardBottom .infoIcons{
  display: flex;
}

.icon{
  display:flex;
  padding: 0.5rem;
}

.icon img{
  margin: 0 0.5rem 0 0;
}

.listWidget .card .name{
  display: flex;
}

.userAvatar{
  width: 3rem;
  height: 3rem;
  display:flex;
  margin: 0 0.5rem 0 0;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color:rgb(184, 184, 184);
}